// !Breakpoints
// *layout breakpoint medium  -> lbm
// *layout breakpoint small   -> lbs
// *layout breakpoint xsmall  -> lbxs

$lbm: 1060px;
$lbs: 768px;
$lbxs: 480px;

// !Colors
$white: #ffffff;
$black: #000000;